table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

button {
    padding: 10px;
}

#filtro {
    height: 30px;
}