<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="menu.css" rel="stylesheet" type="text/css">
    <title>Menu</title>
</head>

<body style="background-color: rgba(0, 7, 7, 0.753);">
    <center>
        <h2>Sistema de Pedidos</h2>
        <div id="menu-geral">
            <button><a href="gerirprodutos.php">Gerir Produtos</a></button>
            <button><a href="gerirClientes.php">Gerir Clientes</a></button>
            <button><a href="pedidos.html">Gerir Pedidos</a></button>
        </div>
    </center>
</body>


</html>