<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <style>
        * {
            margin: none;
            margin-right: 0px;
            margin-left: 0px;
        }

        #menu-geral {
            background-color: rgb(0, 0, 0);
            width: 100%;
        }

        a {
            text-decoration: none;
            color: black;
            font-size: 18px;
            font-weight: bold;
        }

        button {
            padding: 10px;
        }
    </style>
</head>

<body style="background-color: rgba(0, 7, 7, 0.753);">
    <center>
        <h2>Sistema de Pedidos</h2>
        <div id="menu-geral">
            <button><a href="produtos.html">Gerir Produtos</a></button>
            <button><a href="clientes.html">Gerir Clientes</a></button>
            <button><a href="pedidos.html">Gerir Pedidos</a></button>
        </div>
    </center>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>

</html>