<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestão de Pedidos</title>
    <style>
        a {
            text-decoration: none;
            color: black;
            font-size: 18px;
            font-weight: bold;
        }

        button {
            padding: 10px;
        }
    </style>
</head>

<body style="background-color: rgba(0, 7, 7, 0.753);">
    <center>
        <button><a href="menu.html">Menu</a></button>
        <h2>Gerir Pedidos</h2>
    </center>
</body>

</html>